asgiref==3.12.1
dj-database-url==3.1.2
Django==6.1.1
django-cors-headers==4.9.0
gunicorn==26.2.0
numpy==2.5.3
pandas==3.0.5
psycopg2-binary==2.9.13
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.6.0
tzdata==2026.4
